In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
from IPython.display import display

In [36]:
 g_key

'AIzaSyAWJrrVg9THmcB4lRitAJL9yqXhcb02CrQ'

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puri,IN,2022-06-06 01:57:34,19.8000,85.8500,82.92,85,65,17.16
1,1,Rikitea,PF,2022-06-06 01:57:34,-23.1203,-134.9692,73.31,79,62,19.06
2,2,Puerto Ayora,EC,2022-06-06 01:57:35,-0.7393,-90.3518,71.55,96,100,7.00
3,3,Adrar,MR,2022-06-06 01:57:35,20.5022,-10.0711,88.93,13,97,18.05
4,4,Mackay,AU,2022-06-06 01:57:35,-21.1500,149.2000,78.67,68,100,2.24

In [3]:
# Confirm the data types for the data columns are integers or floating-point decimal numbers.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

print(fig)

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puri,IN,2022-06-06 01:57:34,19.8000,85.8500,82.92,85,65,17.16
3,3,Adrar,MR,2022-06-06 01:57:35,20.5022,-10.0711,88.93,13,97,18.05
4,4,Mackay,AU,2022-06-06 01:57:35,-21.1500,149.2000,78.67,68,100,2.24
10,10,Victoria,HK,2022-06-06 01:54:26,22.2855,114.1577,87.33,85,100,11.99
11,11,Hithadhoo,MV,2022-06-06 01:57:37,-0.6000,73.0833,82.47,70,82,4.00
19,19,Hamilton,US,2022-06-06 01:56:15,39.1834,-84.5333,75.58,62,75,4.38
21,21,Atuona,PF,2022-06-06 01:57:39,-9.8000,-139.0333,78.48,72,13,15.35
23,23,Isla Vista,US,2022-06-06 01:53:13,34.4133,-119.8610,86.38,62,31,14.00
24,24,Basco,PH,2022-06-06 01:57:40,20.4487,121.9702,84.85,79,99,20.09
25,25,Churapcha,RU,2022-06-06 01:57:40,62.0025,132.4325,79.66,34,10,7.02

In [20]:
preferred_cities_df.notnull().sum()

City_ID       165
City          165
Country       164
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [22]:
# use dropna() to drop the null value.
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puri,IN,2022-06-06 01:57:34,19.8000,85.8500,82.92,85,65,17.16
3,3,Adrar,MR,2022-06-06 01:57:35,20.5022,-10.0711,88.93,13,97,18.05
4,4,Mackay,AU,2022-06-06 01:57:35,-21.1500,149.2000,78.67,68,100,2.24
10,10,Victoria,HK,2022-06-06 01:54:26,22.2855,114.1577,87.33,85,100,11.99
11,11,Hithadhoo,MV,2022-06-06 01:57:37,-0.6000,73.0833,82.47,70,82,4.00
...,...,...,...,...,...,...,...,...,...,...
562,562,Tolga,DZ,2022-06-06 02:12:34,34.7222,5.3785,84.58,17,100,3.44
563,563,Lamu,KE,2022-06-06 02:12:34,-2.2717,40.9020,76.39,85,99,18.28
564,564,Buala,SB,2022-06-06 02:12:35,-8.1450,159.5921,82.83,75,100,8.93
571,571,Bambanglipuro,ID,2022-06-06 02:12:37,-7.9500,110.2833,82.67,73,66,3.69
573,573,Itarema,BR,2022-06-06 02:10:32,-2.9248,-39.9167,75.15,89,100,9.10

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0         Puri      IN     82.92  19.8000   85.8500
3        Adrar      MR     88.93  20.5022  -10.0711
4       Mackay      AU     78.67 -21.1500  149.2000
10    Victoria      HK     87.33  22.2855  114.1577
11   Hithadhoo      MV     82.47  -0.6000   73.0833
19    Hamilton      US     75.58  39.1834  -84.5333
21      Atuona      PF     78.48  -9.8000 -139.0333
23  Isla Vista      US     86.38  34.4133 -119.8610
24       Basco      PH     84.85  20.4487  121.9702
25   Churapcha      RU     79.66  62.0025  132.4325

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Puri,IN,82.92,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
3,Adrar,MR,88.93,20.5022,-10.0711,
4,Mackay,AU,78.67,-21.1500,149.2000,International Lodge Motel
10,Victoria,HK,87.33,22.2855,114.1577,Mini Central
11,Hithadhoo,MV,82.47,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...
562,Tolga,DZ,84.58,34.7222,5.3785,سجن طولقة
563,Lamu,KE,76.39,-2.2717,40.9020,Lamu House
564,Buala,SB,82.83,-8.1450,159.5921,Maringe Lagoon Lodge
571,Bambanglipuro,ID,82.67,-7.9500,110.2833,Puri Brata
573,Itarema,BR,75.15,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"